.button {
 -fx-font-veight:bold;
-fx-background-color:#de291a;
-fx-background-radius:22;
-fx-text-fill:  #FEF5EA;
-fx-font-size:16;
}

.button:hover {
-fx-font-veight:bold;
-fx-background-color: #ea594e;
-fx-background-radius:22;
-fx-font-size:16;
-fx-text-fill:  #FFFFFF;
-fx-border-radius:20;
-fx-border-vidth:3;
}

.button:pressed {
    -fx-font-veight:bold;
    -fx-background-color:#ea594e;
    -fx-background-radius:22;
    -fx-font-size:16;
    -fx-text-fill:   #FFFFFF;
    -fx-border-vidth:8;
    -fx-rotate:5
}
